@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  --primary: #73B665;
  --secondary: #A4D39B;
  --main: #CCE6C7;
}

main {
  text-align: center;
}

.page-image {
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  color: black;
}

.modal-90w {
  min-width: 75%;
}

.primary-color {
  background-color: var(--primary);
}

.secondary-color {
  background-color: var(--secondary);
}

.main-color {
  background-color: var(--main);
}

.form-submit-button {
  background-color: var(--primary);
  transition: all .2s;
  font-size: larger;
  border-radius: 50rem;
}

.back-to-top {
  color: green;
}

.form-submit-button:disabled {
  background-color: #4A993A;
}

.form-submit-button:hover {
  background-color: #4A993A;
}

.tel-link:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.logo {
  transition: all .2s;
}

.logo:hover {
  transform: scale(1.1);
}


@media only screen and (min-width: 992px) {
  .card {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 75%;
  }
}
