@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.page-image {
  margin-top: -25px;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  color: black;
}

.modal-90w {
  min-width: 75%;
}

.primary-color {
  background-color: #73B665;
}

.secondary-color {
  background-color: #A4D39B;
}

.form-submit-button {
  background-color: #73B665;
  width: 30%;
  transition: all .2s;
}

.form-submit-button:disabled {
  background-color: #4A993A;
  width: 30%;
}

.form-submit-button:hover {
  background-color: #4A993A;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.logo {
  transition: all .2s;
}

.logo:hover {
  transform: scale(1.15);
}


@media only screen and (min-width: 992px) {
  .card {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 75%;
  }
}
