@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary: #73B665;
  --secondary: #A4D39B;
  --main: #CCE6C7;
  --text: #333333;
  --accent: #C76A3D;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* backgorund colors */
.primary-color {
  background-color: var(--primary);
}

.secondary-color {
  background-color: var(--secondary);
}

.main-color {
  background-color: var(--main);
}

/* text formating */
.text-paragraph {
  text-align: justify;
}

/* Regular style for all pages */
.home,
.contact,
.services,
.not-found,
.card {
  background-color: var(--main);
  color: var(--text);
}

/* contact form style */
.form-control {
  padding: 10px 15px;
  background-color: var(--main);
  color: var(--text);
  border-color: var(--text);
}

.form-control:focus {
  background-color: transparent;
  color: var(--text);
} 

.form-label {
  font-weight: bold;
}

/* contact cards style */
.contact-card {
  text-align: center;
}

.page-image {
  background-position: center;
  background-size: cover;
  min-height: 55vh;
  color: black;
}

.modal-90w {
  min-width: 75%;
}

/* form submit button */
.btn-form-submit {
  color: black;
  background-color: var(--primary);
  border-color: var(--primary);
  font-size: larger;
  border-radius: 4px;
}

.btn-form-submit:focus {
  box-shadow: rgb(49, 132, 253);
}

.btn-form-submit:hover {
  color: black;
  background-color: var(--accent);
  border-color: var(--accent);
}

.btn-form-submit:disabled {
  color: black;
  background-color: var(--accent);
  border-color: var(--accent);
}

/* request estimate button */
.btn-estimate-req {
  color: var(--text);
  border-color: var(--text);
  border-radius: 4px;
}

.btn-estimate-req:hover {
  color: var(--primary);
  border-color: var(--text);
  background-color: var(--text);
}

/* back to to button */
.back-to-top-button {
  color: var(--accent);
}

.tel-link:hover {
  text-decoration: none;
}

/* regaular a tags */
a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* nav links */
.nav-link:hover {
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

/* error page */
.not-found {
  height: 80vh;
}

/* logo */
.logo {
  transition: all .2s;
}

.logo:hover {
  transform: scale(1.1);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card {
    width: 75%;
  }

  .page-image {
    min-height: 60vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 75%;
  }

  .page-image {
    min-height: 45vh;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 60%;
  }

  .page-image{
    min-height: 60vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 50%;
  }

  .page-image {
    min-height: 70vh;
  }
}